[Desktop Entry]
Type=Application
Name=Pipeline
GenericName=YouTube Player
Comment=Follow video creators and watch videos
Exec=/usr/local/bin/santos-pipeline
Icon=/usr/local/share/icons/hicolor/scalable/apps/de.schmidhuberj.tubefeeder.svg
Terminal=false
Categories=AudioVideo;Video;GTK;
StartupNotify=true
StartupWMClass=de.schmidhuberj.tubefeeder
