[D-BUS Service]
Name=org.gnome.Ptyxis
Exec=/usr/libexec/santos-client-environment --profile /etc/santos/gtk4-client.ini --exec /usr/bin/ptyxis --gapplication-service
