[D-BUS Service]
Name=org.gnome.Nautilus
Exec=/usr/libexec/santos-client-environment --profile /etc/santos/gtk4-client.ini --exec /usr/bin/nautilus --gapplication-service
