[Desktop Entry]
Name[af]=GNOME se Oog
Name[ar]=عين جنوم
Name[be]=Вока GNOME
Name[be@latin]=Voka GNOME
Name[bg]=Окото на GNOME
Name[bn]=জিনোমের চোখ
Name[bn_IN]=Eye of GNOME
Name[br]=Lagad GNOME
Name[ca]=Eye of GNOME
Name[ca@valencia]=Eye of GNOME
Name[ckb]=چاوی گنۆم
Name[cs]=Eye of GNOME
Name[cy]=EOG ('Eye of GNOME)
Name[de]=Eye of GNOME
Name[dz]=ཨའི་ཨོཕ་ཇི་ནོམ།
Name[en@shaw]=𐑲 𐑝 ·𐑜𐑯𐑴𐑥
Name[eo]=Okulo de GNOME
Name[es]=Eye of GNOME
Name[eu]=GNOMEren Begia
Name[fa]=چشم گنوم
Name[fi]=Eye of Gnome
Name[fr]=Visionneur d’images
Name[fy]=Eye of GNOME
Name[gd]=Eye of GNOME
Name[gl]=Visor de imaxes
Name[he]=העין של GNOME
Name[hi]=गनोम की आँख
Name[hu]=GNOME szeme
Name[id]=Eye of GNOME
Name[is]=Eye of GNOME myndarýnir
Name[ja]=Eye of GNOME
Name[ka]=Eye of GNOME
Name[kk]=GNOME көзі
Name[ks]=गनोमच अच्छ
Name[ku]=Çavê GNOME'yê
Name[lt]=Eye of GNOME
Name[lv]=Eye of GNOME
Name[mai]=गनोम क' आँखि
Name[mg]=Eye of GNOME
Name[mjw]=Eye of GNOME
Name[ml]=ഗ്നോം മിഴി
Name[ms]=Eye of GNOME
Name[nds]=Eye of GNOME
Name[nl]=Eye of GNOME
Name[nn]=Eye of GNOME
Name[nso]=Leihlo la GNOME
Name[or]=ନୋମର ଆଖି
Name[pa]=ਗਨੋਮ ਦੀ ਅੱਖ
Name[pl]=Eye of GNOME
Name[ps]=د جنومي سترګه
Name[pt]=Olho do GNOME
Name[pt_BR]=Olho do GNOME
Name[ro]=Ochiul lui GNOME
Name[ru]=Глаз GNOME
Name[si]=GNOME ඇස
Name[sk]=Oko prostredia GNOME
Name[sl]=Oko GNOME
Name[sq]=Eye of GNOME
Name[sr]=Гномово око
Name[sr@latin]=Gnomovo oko
Name[sv]=Eye of GNOME
Name[th]=ดวงตา GNOME
Name[tr]=GNOME’un Gözü
Name[uk]=Око GNOME
Name[uz]=GNOME'ning koʻzi
Name[uz@cyrillic]=GNOME'нинг кўзи
Name[wa]=Eye of Gnome
Name[zh_CN]=GNOME 之眼
Name[zh_TW]=GNOME 之眼
Name[zu]=i-Eye of GNOME
Name=Eye of GNOME
Comment[af]=Vertoon en roteer beelde
Comment[an]=Examine y chire imachens
Comment[ar]=تصفح و أدر الصور
Comment[as]=ছবি ব্ৰাউছ কৰক আৰু ঘুৰাওক
Comment[ast]=Restola y voltia imáxenes
Comment[be]=Агляд і паварот выяў
Comment[be@latin]=Ahladaj i pavaročvaj vyjavy
Comment[bg]=Преглед и завъртане на изображения
Comment[bn]=ছবি ব্রাউজ করুন এবং চক্রাকারে ঘোরান
Comment[bn_IN]=ছবি ব্রাউজ করুন ও ঘুরিয়ে নিন
Comment[bs]=Pregledaj i izvrni slike
Comment[ca]=Navegueu per imatges i gireu-les
Comment[ca@valencia]=Navegueu per imatges i gireu-les
Comment[ckb]=بینین و سوڕانەوەی وێنە
Comment[cs]=Procházení a otáčení obrázků
Comment[da]=Gennemse og rotér billeder
Comment[de]=Bilder betrachten und drehen
Comment[dz]=གཟུགས་བརྙན་ཚུ་ བརྡ་འཚོལ་འབད་དེ་བསྒྱིར་
Comment[el]=Περιηγηθείτε και περιστρέψτε εικόνες
Comment[en_CA]=Browse and rotate images
Comment[en_GB]=Browse and rotate images
Comment[en@shaw]=𐑚𐑮𐑬𐑟 𐑯 𐑮𐑴𐑑𐑱𐑑 𐑦𐑥𐑦𐑡𐑩𐑟
Comment[eo]=Foliumi kaj turni bildojn
Comment[es]=Examine y rote imágenes
Comment[et]=Piltide sirvimine ja pööramine
Comment[eu]=Arakatu eta biratu irudiak
Comment[fa]=مرور و چرخاندن تصویر
Comment[fi]=Selaa ja kierrä kuvia
Comment[fr]=Parcourir et pivoter les images
Comment[fur]=Sgarfe e zire imagjins
Comment[fy]=Bleaderje en draaie ôfbylingen
Comment[ga]=Brabhsáil agus rothlaigh íomhánna
Comment[gd]=Brabhsaich is cuairtich dealbhan
Comment[gl]=Ver e rotar imaxes
Comment[gu]=ચિત્રો શોધો અને ફેરવો
Comment[he]=צפייה וסיבוב של תמונות
Comment[hi]=छवियां देखें और घुमाएं
Comment[hr]=Pregledajte i zakrenite slike
Comment[hu]=Képek böngészése és forgatása
Comment[id]=Ramban dan putar gambar
Comment[ie]=Demonstrar e rotar images
Comment[is]=Skoða og snúa myndum
Comment[it]=Sfoglia e ruota le immagini
Comment[ja]=画像の閲覧や向きの調整をします
Comment[ka]=გამოსახულების დათვალიერება და მობრუნება
Comment[kk]=Суреттерді шолу және бұру
Comment[km]=រកមើល និង​បង្វិល​រូបភាព
Comment[kn]=ಚಿತ್ರಗಳನ್ನು ವೀಕ್ಷಿಸು ಹಾಗು ತಿರುಗಿಸು
Comment[ko]=이미지 살펴보기 및 회전
Comment[ks]=छांड त गुमाव फोटो
Comment[lt]=Naršyti ir vartyti paveikslėlius
Comment[lv]=Pārlūkot un pagriezt attēlus
Comment[mjw]=Arjan kelang-kiri pen parting
Comment[mk]=Разгледај и ротирај слики
Comment[ml]=ചിത്രങ്ങള്‍ കാണുകയും തിരിക്കുകയും ചെയ്യുക
Comment[mr]=प्रतिमाचे संचार व गोल फिरवा
Comment[ms]=Layar dan putar imej
Comment[nb]=Bla gjennom og roter bilder
Comment[nds]=Billers ankieken un dreihn
Comment[ne]=छविहरू ब्राउज गर्नुहोस् र घुमाउनुहोस्
Comment[nl]=Doorblader en roteer afbeeldingen
Comment[nn]=Bla gjennom og roter bilete
Comment[oc]=Percórrer e pivotar los imatges
Comment[or]=ପ୍ରତିଛବିକୁ ବ୍ରାଉଜ କରନ୍ତୁ ଏବଂ ଘୁରାନ୍ତୁ
Comment[pa]=ਝਲਕ ਅਤੇ ਚਿੱਤਰ ਘੁੰਮਾਓ
Comment[pl]=Przeglądanie i obracanie obrazów
Comment[ps]=انځورونه لټول او چورلول
Comment[pt]=Navegar e rodar imagens
Comment[pt_BR]=Navegue e gire imagens
Comment[ro]=Navighează și rotește imagini
Comment[ru]=Просмотр и вращение изображений
Comment[si]=පිළිඹිබු ගවේශනය කිරීම සහ කරකැවීම
Comment[sk]=Prehliada a otáča obrázky
Comment[sl]=Brskanje in obračanje slik
Comment[sq]=Shfleto dhe rrotullo figurat
Comment[sr]=Прегледајте и окрените слике
Comment[sr@latin]=Pregledajte i okrenite slike
Comment[sv]=Bläddra och rotera bilder
Comment[ta]=பிம்பங்களை உலாவு சுழற்று
Comment[te]=బొమ్మలను విహరించు మరియు తిప్పు
Comment[tg]=Тамошо ва даврзании тасвирҳо
Comment[th]=เรียกดูและหมุนรูป
Comment[tr]=Resimlere göz at ve döndür
Comment[ts]=Lavalava na ku hundzuluxa swifaniso
Comment[ug]=سۈرەتكە كۆز يۈگۈرت ۋە ئايلاندۇر
Comment[uk]=Перегляд та обертання зображень
Comment[uz]=Rasmni koʻrish va burish
Comment[uz@cyrillic]=Расмни кўриш ва буриш
Comment[vi]=Duyệt và xoay ảnh
Comment[xh]=Funda nje kwaye ujikajike umifanekiso
Comment[zh_CN]=浏览及旋转图像
Comment[zh_HK]=瀏覽及更改影像的方向
Comment[zh_TW]=瀏覽及更改影像的方向
Comment[zu]=Dlulisa amehlo bese ijikeleza isithombe
Comment=Browse and rotate images
TryExec=/usr/lib/santos-gtk-client-runtime/bin/eog
Exec=/usr/lib/santos-gtk-client-runtime/bin/eog %U
# TRANSLATORS: Do NOT translate or transliterate this text!
# This is an icon file name
Icon=org.gnome.eog
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;2DGraphics;RasterGraphics;Viewer;
X-GNOME-DocPath=eog/eog.xml
MimeType=image/avif;image/bmp;image/gif;image/heic;image/jpeg;image/jpg;image/jxl;image/pjpeg;image/png;image/tiff;image/webp;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;image/x-icns;
# Extra keywords that can be used to search for eog in GNOME Shell and Unity
# TRANSLATORS: Search terms to find this application.
#              Do NOT translate or localize the semicolons!
#              The list MUST also end with a semicolon!
Keywords[bg]=Изображение;Снимка;Графика;Картина;Фотография;Разглеждане;Прожекция;Picture;Slideshow;Graphics;Photo;Photography;Image;Viewer;
Keywords[ca]=Fotografia;Diapositives;Gràfics;Foto;Imatge;Visualitzador;
Keywords[cs]=obrázek;promítání snímků;prezentace snímků;grafika;fotka;fotografie;prohlížeč;
Keywords[hu]=Kép;Diavetítés;Grafika;Fénykép;Fényképészet;Megjelenítő;
Keywords[ka]=Picture;Slideshow;Graphics;Photo;Photography;Image;Viewer;
Keywords[kk]=Picture;Slideshow;Graphics;Photo;Photography;Image;Viewer;Сурет;Слайдшоу;Графика;Фото;Фотосурет;Сурет;Көрсетуші;
Keywords[lt]=Paveikslėlis;Demonstracija;Skaidrės;Grafika;Nuotrauka;Fotografija;Žiūryklė;
Keywords[pt]=Retrato;Apresentação;Diapositivo;Gráficos;Foto;Fotografia;Imagem;Visualizador;
Keywords[pt_BR]=Fotos;Apresentação de slides;Gráficos;Imagem;Visualizador;Foto;
Keywords[ro]=Picture;Slideshow;Graphics;Poză;Imagine;Fotografie;Grafică;Prezentare;Diapozitive;Vizualizare;
Keywords[ru]=Picture;Slideshow;Graphics;Photo;Photography;Image;Viewer;Изображение;Слайд-шоу;Графика;фотография;просмотрщик;
Keywords[sl]=Slike;Predstavitev;Grafika;Fotografije;oko;eog;ogledovalnik;
Keywords[sv]=Bild;Bildspel;Grafik;Foto;Fotografi;Bildvisare;Visare;
Keywords[tr]=Resim;Slayt Gösterisi;Grafikler;Görseller;Foto;Fotoğrafçılık;Görüntü;Görüntüleyici;
Keywords[uk]=Малюнок;Слайд;Графіки;Фото;Фотографія;Зображення;Переглядач;
Keywords[zh_CN]=Picture;Slideshow;Graphics;Photo;Photography;Image;Viewer;图片;幻灯片;图像;照片;查看器;
Keywords=Picture;Slideshow;Graphics;Photo;Photography;Image;Viewer;
