[Desktop Entry]
Categories=GNOME;GTK;Utility;TextEditor;
Keywords[ar]=الكتابة;الكتابات;اكتب;الدفتر;الملاحظات;الملاحظة;المحرر;المفكرة;المفكرات;write;notepad;
Keywords[be]=write;notepad;пісаць;запісы;нататкі;нататнік;
Keywords[bg]=текстов;редактор;ноутпад;райт;write;notepad;
Keywords[ca]=escriure;bloc de notes;
Keywords[cs]=psát;zapisovat;zápisník;
Keywords[da]=skriv;notesblok;
Keywords[de]=write;notepad;schreiben;Notiz;Editor;Texteditor;
Keywords[el]=γράφω;σημειωματάριο;write;notepad;
Keywords[en_GB]=write;notepad;
Keywords[eo]=skribi;notbloko;
Keywords[es]=escribir;cuaderno de notas;
Keywords[eu]=idatzi;notepad;
Keywords[fa]=write;notepad;نوشتن;یادداشت;متن;
Keywords[fi]=write;notepad;kirjoita;muistio;
Keywords[fr]=écrire;bloc-notes;
Keywords[fur]=scrivi;tacuin;notis;bloc notis;
Keywords[gl]=escribir;caderno de notas;
Keywords[he]=כתיבה;כתבן;עורך;עורך טקסט;
Keywords[hi]=लिखें;नोटपैड;
Keywords[hr]=piši;bilježnica;
Keywords[hu]=írás;jegyzettömb;
Keywords[id]=tulis;notepad;
Keywords[ie]=write;notepad;
Keywords[is]=skrifa;ritill;
Keywords[it]=scrivere;appunti;
Keywords[ja]=write;notepad;メモ帳;memo;
Keywords[ka]=write;notepad;
Keywords[kk]=write;notepad;жазу;блокнот;
Keywords[ko]=write;기록;쓰기;notepad;메모장;텍스트;편집기;에디터;
Keywords[lt]=rašyti;užrašinė;
Keywords[lv]=rakstīt;notepad;
Keywords[nb]=notepad;skriving;text editor;
Keywords[ne]=लेखन;नोटप्याड;
Keywords[nl]=write;notepad;schrijven;notitieblok;tekstbewerker;teksteditor;tekstverwerker;
Keywords[nn]=skrive;notisblokk;
Keywords[oc]=escriure;nòtas;
Keywords[pa]=ਲਿਖਤ;ਲਿਖਣਾ;ਨੋਟਪੈਡ;
Keywords[pl]=pisanie;pisz;napisz;write;notatnik;notepad;text;
Keywords[pt]=escrever;bloco de notas;
Keywords[pt_BR]=escrever;escreva;notas;bloco de notas;
Keywords[ro]=write;notepad;scrie;carnețel;notițe;text;
Keywords[ru]=write;notepad;писать;блокнот;
Keywords[sk]=písať;písanie;zapísať;zápisník;poznámky;
Keywords[sl]=besedilo;urejevalnik;tekst;write;gedit;pisanje;zapis:urejanje;beležnica;
Keywords[sr]=write;notepad;писање;нотепад;гедит;pisanje;notepad;gedit;текст;tekst;text;
Keywords[sr@latin]=write;notepad;pisanje;notepad;gedit;pisanje;notepad;gedit;tekst;tekst;text;
Keywords[sv]=skriv;anteckningar;
Keywords[th]=เขียน;โน้ตแพด;
Keywords[tr]=Text Editor;write;notepad;yaz;not defteri;not kağıdı;bloknot;gedit;
Keywords[ug]=write;notepad;يازغۇچ;خاتىرە دەپتەر;
Keywords[uk]=write;notepad;запис;нотатник;
Keywords[uz]=yozish;daftar;
Keywords[vi]=write;notepad;ghi;notepad;văn bản;van ban;
Keywords[zh_CN]=write;notepad;text;txt;plain;写作;编写;笔记本;记事本;
Keywords[zh_TW]=write;notepad;書寫;撰寫;記事本;筆記簿;文字;編輯;
Keywords=write;notepad;
DBusActivatable=false
Exec=/usr/libexec/santos-client-environment --profile /etc/santos/gtk4-client.ini --exec /usr/bin/gnome-text-editor %U
MimeType=text/plain;application/x-zerosize;
Name[ar]=محرر النصوص
Name[be]=Тэкставы рэдактар
Name[bg]=Текстов редактор
Name[ca]=Editor de text
Name[cs]=Textový editor
Name[da]=Tekstredigering
Name[de]=Texteditor
Name[el]=Επεξεργαστής κειμένου
Name[en_GB]=Text Editor
Name[eo]=Tekstredaktilo
Name[es]=Editor de texto
Name[eu]=Testu-editorea
Name[fa]=ویرایشگر متن
Name[fi]=Tekstimuokkain
Name[fr]=Éditeur de texte
Name[fur]=Editôr di test
Name[gl]=Editor de texto
Name[he]=עורך טקסט
Name[hi]=पाठ संपादक
Name[hr]=Uređivač teksta
Name[hu]=Szövegszerkesztő
Name[id]=Penyunting Teks
Name[ie]=Redactor de textu
Name[is]=Textaritill
Name[it]=Editor di testo
Name[ja]=テキストエディター
Name[ka]=ტექსტური რედაქტორი
Name[kab]=Amaẓrag n Weḍris
Name[kk]=Мәтін түзеткіші
Name[ko]=텍스트 편집기
Name[lt]=Tekstų redaktorius
Name[lv]=Teksta redaktors
Name[nb]=Tekstredigering
Name[ne]=पाठ सम्पादक
Name[nl]=Tekstbewerker
Name[nn]=Tekstredigering
Name[oc]=Editor de tèxte
Name[pa]=ਲਿਖਤ ਸੰਪਾਦਕ
Name[pl]=Edytor tekstu
Name[pt]=Editor de texto
Name[pt_BR]=Editor de Texto
Name[ro]=Text
Name[ru]=Текстовый редактор
Name[sk]=Textový editor
Name[sl]=Urejevalnik besedil
Name[sr]=Уређивач текста
Name[sr@latin]=Uređivač teksta
Name[sv]=Textredigerare
Name[th]=แก้ไขข้อความ
Name[tr]=Metin Düzenleyici
Name[ug]=تېكىست تەھرىرلىگۈچ
Name[uk]=Текстовий редактор
Name[uz]=Matnni tahrirlagich
Name[vi]=Soạn thảo văn bản
Name[zh_CN]=文本编辑器
Name[zh_TW]=文字編輯器
Name=Text Editor
GenericName[ar]=محرر النصوص
GenericName[be]=Тэкставы рэдактар
GenericName[bg]=Текстов редактор
GenericName[ca]=Editor de text
GenericName[cs]=Textový editor
GenericName[da]=Tekstredigering
GenericName[de]=Texteditor
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_GB]=Text Editor
GenericName[eo]=Tekstredaktilo
GenericName[es]=Editor de texto
GenericName[eu]=Testu-editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstimuokkain
GenericName[fr]=Éditeur de texte
GenericName[fur]=Editôr di test
GenericName[gl]=Editor de texto
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[id]=Penyunting Teks
GenericName[ie]=Redactor de textu
GenericName[is]=Textaritill
GenericName[it]=Editor di testo
GenericName[ja]=テキストエディター
GenericName[ka]=ტექსტური რედაქტორი
GenericName[kab]=Amaẓrag n Weḍris
GenericName[kk]=Мәтін түзеткіші
GenericName[ko]=텍스트 편집기
GenericName[lt]=Tekstų redaktorius
GenericName[lv]=Teksta redaktors
GenericName[nb]=Tekstredigering
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Tekstbewerker
GenericName[nn]=Tekstredigering
GenericName[oc]=Editor de tèxte
GenericName[pa]=ਲਿਖਤ ਸੰਪਾਦਕ
GenericName[pl]=Edytor tekstu
GenericName[pt]=Editor de texto
GenericName[pt_BR]=Editor de Texto
GenericName[ro]=Text
GenericName[ru]=Текстовый редактор
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sr]=Уређивач текста
GenericName[sr@latin]=Uređivač teksta
GenericName[sv]=Textredigerare
GenericName[th]=แก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[ug]=تېكىست تەھرىرلىگۈچ
GenericName[uk]=Текстовий редактор
GenericName[uz]=Matnni tahrirlagich
GenericName[vi]=Soạn thảo văn bản
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
GenericName=Text Editor
Comment[ar]=اعرض وحرِّر الملفات النصية
Comment[be]=Прагляд і рэдагаванне тэкставых файлаў
Comment[bg]=Преглед и редактиране на текстови файлове
Comment[ca]=Visualitza i edita fitxers de text
Comment[cs]=Prohlížet a upravovat textové soubory
Comment[da]=Se og redigér tekstfiler
Comment[de]=Textdateien ansehen und bearbeiten
Comment[el]=Προβολή και επεξεργασία αρχείων κειμένου
Comment[en_GB]=View and edit text files
Comment[eo]=Vidi kaj redakti tekstajn dosierojn
Comment[es]=Ver y editar archivos de texto
Comment[eu]=Bistaratu eta editatu testu-fitxategiak
Comment[fa]=نمایش و ویرایش پرونده‌های متنی
Comment[fi]=Katsele ja muokkaa tekstitiedostoja
Comment[fr]=Voir et modifier des fichiers texte
Comment[fur]=Viôt e modifiche i files di test
Comment[gl]=Ver e editar ficheiros de texto
Comment[he]=הצגת ועריכת קובצי טקסט
Comment[hi]=पाठ फाइलें देखें और संपादित करें
Comment[hr]=Pregledaj i uredi tekstne datoteke
Comment[hu]=Szövegfájlok megtekintése és szerkesztése
Comment[id]=Melihat dan menyunting berkas teks
Comment[ie]=Vider e redacter files textual
Comment[is]=Skoða og breyta textaskrám
Comment[it]=Visualizza e modifica file di testo
Comment[ja]=テキストファイルの閲覧と編集
Comment[ka]=დაათვალიერეთ და ჩაასწორეთ ტექსტური ფაილები
Comment[kab]=Wali rnu ẓreg ifuyla n yiḍrisen
Comment[kk]=Мәтіндік файлдарды қарау және түзету
Comment[ko]=텍스트 파일을 보고 편집합니다
Comment[lt]=Rodyti ir redaguoti tekstinius failus
Comment[lv]=Skatīt un rediģēt testa datnes
Comment[nb]=Vis og rediger tekstfiler
Comment[ne]=पाठ फाइल हेर्नुहोस् र सम्पादन गर्नुहोस्
Comment[nl]=Tekstbestanden bekijken en bewerken
Comment[nn]=Vis og rediger tekstfiler
Comment[oc]=Afichar e modificar de fichièrs de tèxt
Comment[pa]=ਲਿਖਤ ਫਾਇਲਾਂ ਨੂੰ ਵੇਖੋ ਅਤੇ ਸੋਧੋ
Comment[pl]=Wyświetlanie i modyfikowanie plików tekstowych
Comment[pt]=Ver e editar ficheiros de texto
Comment[pt_BR]=Veja e edite arquivos de texto
Comment[ro]=Vizualizează și modifică fișiere care conțin text
Comment[ru]=Просмотр и редактирование текстовых файлов
Comment[sk]=Zobrazuje a upravuje textové súbory
Comment[sl]=Pregledovanje in urejanje besedilnih datotek
Comment[sr]=Погледајте и уређујте текстуалне датотеке
Comment[sr@latin]=Pogledajte i uređujte tekstualne datoteke
Comment[sv]=Visa och redigera textfiler
Comment[th]=ดูและแก้ไขไฟล์ข้อความ
Comment[tr]=Metin dosyalarını görüntüle ve düzenle
Comment[ug]=تېكىست ھۆججىتىنى كۆرسىتىپ ۋە تەھرىرلەيدۇ
Comment[uk]=Перегляд і редагування текстових файлів
Comment[uz]=Matn fayllarini ko'rish va tahrirlash
Comment[vi]=Xem và chỉnh sửa tập tin dạng chữ
Comment[zh_CN]=查看和编辑文本文件
Comment[zh_TW]=檢視與編輯文字檔
Comment=View and edit text files
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.TextEditor
StartupNotify=true
Terminal=false
Type=Application
X-Flatpak-RenamedFrom=gnome-text-editor
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
Actions=new-window;

[Desktop Action new-window]
Name[ar]=نافذة جديدة
Name[be]=Новае акно
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[fur]=Gnûf Barcon
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[kab]=Asfaylu amaynut
Name[kk]=Жаңа терезе
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[nb]=Nytt vindu
Name[ne]=नयाँ सञ्झ्याल
Name[nl]=Nieuw venster
Name[nn]=Nytt vindauge
Name[oc]=Fenèstra novèla
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Создать окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sr@latin]=Novi prozor
Name[sv]=Nytt fönster
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[ug]=يېڭى كۆزنەك
Name[uk]=Нове вікно
Name[uz]=Yangi oyna
Name[vi]=Cửa sổ Mới
Name[zh_CN]=新建窗口
Name[zh_TW]=開新視窗
Name=New Window
Exec=/usr/libexec/santos-client-environment --profile /etc/santos/gtk4-client.ini --exec /usr/bin/gnome-text-editor --new-window
